*.iml
.gradle
/local.properties
/idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


/app/build
/app/src/androidTest
/app/src/test

google-services.json

/app/src/main/res/values/api_key.xml